<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psych Clinic</title>
</head>
<body>
    <h1>Data from All Tables</h1>

    {% for table, data in all_data.items() %}
        <h2>{{ table }}</h2>
        <table border="1">
            <tr>
                {% for column in data[0] %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</body>
</html>
